body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: #0a1f44;
}

.square {
  float: left;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: burlywood;
  margin: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  color: white;
  padding-top: 25px;
}

#message {
  color: white;
  font-weight: bold;
  font-size: 22px;
  visibility: hidden;
  padding-bottom: 15px;
}

#reset {
  font-size: 16px;
  padding: 14px 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 6, 46);
  color: white;
  font-weight: bold;
}

#reset:hover,
#easyButton:hover,
#hardButton:hover {
  opacity: 0.9;
}

.buttons {
  padding-bottom: 15px;
}

.easy {
  padding-right: 10px;
}

#easyButton {
  font-size: 16px;
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #0a1f44;
  color: white;
  font-weight: bold;
  transition-duration: 0.2s;
}

#easyButton:hover {
  border: 3px solid white;
  background-color: white;
  color: #63C306;
}

#hardButton {
  font-size: 16px;
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: #0a1f44;
  color: white;
  font-weight: bold;
}

#hardButton:hover {
  border: 3px solid white;
  background-color: white;
  color: rgb(255, 6, 46);
}

#stripe {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

#hardButton.selected {
  background-color: white;
  color: rgb(255, 6, 46);
}

#easyButton.selected {
  background-color: white;
  color: #63C306;
}

/*/ Responsive design - max-width: 768px /*/

@media (max-width: 768px) {

  h1 {
    padding-top: 55px;
  }

}

/*/ Responsive design - max-width: 375px /*/

@media (max-width: 375px) {

  h1 {
    font-size: 25px;
    padding-top: 30px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }

  .square {
    width: 40%;
    height: 40px;
  }

  #message {
    font-size: 18px;
  }

}